*{
  margin: 10px;
  color: black;
}
#wrapper{
  width: 1200px;
  height: 800px;
  background-color: blue;
  padding: 10px 10px 10px 10px
}
#heading{
  height: 100px;
  width: 1180px;
  background-color: red;
  border-radius: 10px;
}
h1{
  color: silver;
  align-content: center; --------/* QUESTION:  */
  height: 400px;
  width: 850px;
  padding-top: 30px;
}
#box1{
  height: 400px;
  width: 200px;
  background-color: teal;
  margin-right: 50px;
  float: left;
  border-radius: 10px;
}
#main_content{
  margin: 10px;
  color: blue;
}
#box2{
  height: 400px;
  width: 850px;
  background-color: black;
  margin-right: 50px;
  float: right;
  border-radius: 10px;
}
.clearfix{
  clear: both;
}
h2{
  color: silver;
}
h4{
  color: silver;
}
p{
color: silver;
}
li{
  text-decoration: underline;
  color: blue;
}
#list_items{
  text-decoration: underline;
  display: inline-block;
}
#box3{
  height: 50px;
  width: 1180px;
  background-color: gray;
  border-radius: 10px;
}
